body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 8pt; /* following app's default */
  margin: 0;
}


.dgrid {
  border: 0;
  font-family: Arial, sans-serif;
}

.grid-container {
  overflow-x: auto;
  overflow-y: hidden;
  table-layout: auto;
  width: 100%;
}

/* dgrid overrides */
.dgrid-header, .dgrid-header-row, .dgrid-footer {
  background: white;
}

th.dgrid-cell {
  /* targetting header cells */
  /* TODO: add unique class to header cells */
  border-bottom: 1px solid #1162c2;
  color: #1162c2;
  font-weight: 500;
}

.dgrid-row:nth-child(odd) {
  background-color: #F8F8F8;
}

.dgrid-cell {
  padding: .6rem .9rem;
}

th[class*="dgrid-column-"] {
  width: 400px;
}

@media (max-width: 768px) {
  .dgrid-row-table {
    width: 100%;
  }
}
