// ---------------------------------
// :: Site TEMP PARTIAL
// ---------------------------------

.site-main
  margin-left: 15rem

.site-sidebar
  border-right: 1px solid #eee
  height: 100%
  padding: 2rem 0
  position: fixed
  width: 15rem

.site-nav__link
  display: block
  font-size: .875rem
  padding: 1rem 1rem 1rem 2rem
  width: 100%

  &:hover
    background: whitesmoke
