<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Demo / Playground</title>
    <link rel="stylesheet" href="dgrid/css/dgrid.css">
    <!-- <link rel="stylesheet" href="dojo/../dijit/themes/claro/claro.css"> -->
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="styles.min.css">
</head>
<body>
  <div class="site-sidebar">
    <a href="./" class="site-nav__link">Home</a>
    <a href="./colours.html" class="site-nav__link">Colours</a>
    <a href="./charts.html" class="site-nav__link">Charts</a>
    <a href="./datagrid.html" class="site-nav__link">Datagrid Tables</a>
  </div>
  <main class="site-main">
    {% block content %} {% endblock %}
  </main>
</body>
</html>
