// ---------------------------------
// :: Components - Charts
// ---------------------------------

// Legend

.chart-title
  font-size: $h3-font-size

.chart-legend
  overflow: hidden // temporary

.axis__label
  set-font-size($p)

  &--x
    transform: rotate(-45deg)

  &--y
    transform: rotate(-90deg)

// For dojo charts
.dojoxLegendNode
  float: right

.dojoxLegendIcon
  float: left
  padding-left: .375rem     /* 6px */
  padding-right: .25rem     /* 4px */
  padding-top: .125rem      /* 2px */
  padding-bottom: .125rem   /* 2px */

.dojoxLegendText
  font-size: $p-font-size

.chart--pie
  position: relative

  &:before
    content: ""
    background-color: $white
    border-radius: 50%
    display: inline-block
    height: 4rem
    left: 50%
    top: 50%
    position: absolute
    margin-top: -2rem
    margin-left: -2rem
    width: 4rem
