// ---------------------------------
// :: Components - Alerts
// ---------------------------------

$warning-colour             ?= $yellow
$info-colour                ?= $dark-blue
$danger-colour              ?= $magenta80
$success-colour             ?= $green

// ---------------------------------
