// ---------------------------------
// :: Components - Buttons
// ---------------------------------

$button-height            ?= 2rem /* 32px */
$toolbar-font             ?= $open-sans

// ---------------------------------

.button
  border: 2px solid transparent
  border-radius: 2px
  display: inline-block
  font-weight: $semibold
  padding-left: 1.25rem
  padding-right: 1.25rem
  padding-top: .325rem
  padding-bottom: .325rem
  font-size: $p-font-size

  &--primary
    background-color: $dark-blue
    color: $white

    &:hover
      background-color: darken($dark-blue, 20%)

  &--secondary
    background-color: $grey10
    border-color: $grey50

    &:hover
      background-color: $grey10
