// ---------------------------------
// :: Components - Datagrids
// ---------------------------------

.dgrid {
  border: 0
  font-family: Arial, sans-serif
  font-size: 8pt /* following app's default */
}

.grid-container {
  overflow-x: auto
  overflow-y: hidden
  table-layout: auto
  width: 100%
}

/* dgrid overrides */
.dgrid-header, .dgrid-header-row, .dgrid-footer {
  background: white
}

th.dgrid-cell {
  /* targetting header cells */
  /* TODO: add unique class to header cells */
  border-bottom: 1px solid #1162c2
  color: #1162c2
  font-weight: 600
}

.dgrid-row {
  transition: .2s ease-in-out
}

.dgrid-row:hover {
  background-color: lighten($teal, 90%)
}

.dgrid-cell {
  padding: .6rem .9rem
}

th[class*="dgrid-column-"] {
  width: 400px
}

@media (max-width: 768px) {
  .dgrid-row-table {
    width: 100%
  }
}
