// ---------------------------------
// :: Components - Charts
// ---------------------------------

// Legend

.chart-title
  font-size: $h3-font-size

.chart-legend
  overflow: hidden // temporary

// TODO: WRITE THIS IN BEM
.chart--bar-vertical:hover
  .bar
    fill: $purple50

    &:hover
      fill: $purple80

.bar
  cursor: pointer
  fill: $purple60
  transition: all .2s cubic-bezier(.77, 0, .175, 1)

  &:hover
    fill: $purple80

.chart
  background-color: $purple20
  padding: 1.5rem

.tick__label
  fill: $grey90
  font-family: $text-font
  set-font-size($p)

  &--x
    transform: rotate(-45deg)

.axis__label
  &--y
    transform: rotate(-90deg)

// For dojo charts
.dojoxLegendNode
  float: right

.dojoxLegendIcon
  float: left
  padding-left: .375rem     /* 6px */
  padding-right: .25rem     /* 4px */
  padding-top: .125rem      /* 2px */
  padding-bottom: .125rem   /* 2px */

.dojoxLegendText
  font-size: $p-font-size

.chart--pie
  position: relative

  &:before
    content: ""
    background-color: $white
    border-radius: 50%
    display: inline-block
    height: 4rem
    left: 50%
    top: 50%
    position: absolute
    margin-top: -2rem
    margin-left: -2rem
    width: 4rem
