// ---------------------------------
// :: Components - Tooltips
// ---------------------------------

.dijitTooltip
  /* from original dgrid css */
  position: absolute
  z-index: 2000
  display: block
  left: 0
  top: -10000px
  overflow: visible

  /* common styles for tooltip arrow */
  &:before, &:after
    border-style: solid
    content: ""
    width: 0
    height: 0
    position: absolute

// Tooltip Arrow - Above

.dijitTooltipAbove
  padding-bottom: 1rem

  &:before
    border-width: 9px 9px 0 9px
    border-color: $grey60 transparent transparent transparent
    bottom: 8px

  &:after
    border-width: 9px 9px 0 9px
    border-color: $white transparent transparent transparent
    bottom: 9px

.dijitTooltipBelow
  padding-top: 1rem

  &:before
    border-width: 0 9px 9px 9px
    border-color: transparent transparent $grey60 transparent
    top: 8px

  &:after
    border-width: 0 8px 8px 8px
    border-color: transparent transparent $white transparent
    top: 9px

.dijitTooltipABLeft
  &:before
    left: 6px
  &:after
    left: 7px

.dijitTooltipABRight
  &:before
    right: 5px
  &:after
    right: 6px

.dijitTooltipContainer
  background-color: $white
  border: 1px solid $grey60
  padding: 6px 8px
  font-size: 0.75rem /* 12px */
  border-radius: $base-border-radius
  box-shadow: 0 1px 6px rgba($grey90, .25)
  color: $black
  transition-delay: .2s
  transition-duration: 0.4s
  transition-property: opacity, transform
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1)
  // transform: translateY(1rem)
