// ---------------------------------
// :: Components - Charts
// ---------------------------------

// Legend

.chart-title
  font-size: $h3-font-size

.chart-legend
  overflow: hidden // temporary

.dojoxLegendNode
  float: right

.dojoxLegendIcon
  float: left
  padding-left: .375rem /* 6px */
  padding-right: .125rem /* 2px */
  padding-top: .125rem /* 2px */
  padding-bottom: .125rem /* 2px */

.dojoxLegendText
  font-size: $p-font-size
