// ---------------------------------
// :: Components - Buttons
// ---------------------------------

$toolbar-height           ?= 1.5rem /* 24px */
$toolbar-font             ?= $open-sans

// ---------------------------------

.button
  &--primary
    background: $dark-blue

  &--secondary
    background: $grey10
