// ---------------------------------
//  :: Settings - Typography
// ---------------------------------

// Font Families
$open-sans                  = "Open Sans", Myriad, Helvetica, Tahoma, Arial, sans-serif

// Font Weights
$light                      = 300
$regular                    = 400
$normal                     = $regular
$semibold                   = 600
$bold                       = 700

$strong-font-weight         = $semibold

// Heading Font Sizes
$h1-font-size               = 36px
$h2-font-size               = 24px
$h3-font-size               = 18px
$h4-font-size               = 14px
$h5-font-size               = 100%
$h6-font-size               = 100%

$p-font-size                = 12px
$small-font-size            = 80%
