// ---------------------------------
//  :: Settings - Colours
// ---------------------------------

// :: Colours
// :: Greys

// ---------------------------------
//  :: Colours
// ---------------------------------

$dark-blue                  = #003da5

$teal                       = #cee9f5
$teal20                     = lighten($teal, 60%)
$teal40                     = $teal
$teal50                     = darken($teal, 20%)
$teal60                     = darken($teal, 40%)
$teal80                     = darken($teal, 50%)

$purple                     = #d5dff7
$purple20                   = lighten($purple, 60%)
$purple40                   = $purple
$purple50                   = darken($purple, 20%)
$purple60                   = darken($purple, 40%)
$purple80                   = darken($purple, 50%)

$green                      = #d9f8e1
$green20                    = lighten($green, 60%)
$green40                    = $green
$green50                    = darken($green, 20%)
$green60                    = darken($green, 40%)
$green80                    = darken($green, 50%)

$orange                     = #fee7bd
$orange20                   = lighten($orange, 60%)
$orange40                   = $orange
$orange50                   = darken($orange, 20%)
$orange60                   = darken($orange, 40%)
$orange80                   = darken($orange, 50%)

$red                        = #f8ccde
$red20                      = lighten($red, 60%)
$red40                      = $red
$red50                      = darken($red, 20%)
$red60                      = darken($red, 40%)
$red80                      = darken($red, 50%)

$gold                       = #fef4c0
$gold20                     = lighten($gold, 60%)
$gold40                     = $gold
$gold50                     = darken($gold, 20%)
$gold60                     = darken($gold, 40%)
$gold80                     = darken($gold, 50%)

// ---------------------------------
//  :: Greys
// ---------------------------------

$white                      = #ffffff

$grey                       = saturation($teal, 10%)
$grey10                     = lighten($grey, 80%)
$grey20                     = lighten($grey, 60%)
$grey40                     = lighten($grey, 20%)
$grey50                     = $grey
$grey60                     = darken($grey, 20%)
$grey80                     = darken($grey, 60%)
$grey90                     = darken($grey, 80%)

// Primary / Secondary
$primary-colour             = $dark-blue
$secondary-colour           = $orange-50
