// ---------------------------------
//  :: Typography
// ---------------------------------

// Font families
$open-sans                  = "Open Sans", Myriad, Helvetica, Tahoma, Arial, clean, sans-serif

// Font classes
$sans-serif                 = $helvetica
$serif                      = $georgia

// Font weights
$light                      = 300
$regular                    = 400
$normal                     = $regular
$semibold                   = 600
$bold                       = 700

// Misc Font Weights
$strong-font-weight         = $semibold

// Heading Font Sizes
$h1-font-size               = 36px
$h2-font-size               = 24px
$h3-font-size               = 18px
$h4-font-size               = 14px
$h5-font-size               = 100%
$h6-font-size               = 100%

$h1                         = $h1-font-size
$h2                         = $h2-font-size
$h3                         = $h3-font-size
$h4                         = $h4-font-size
$h5                         = $h5-font-size
$h6                         = $h6-font-size

// Misc Font Sizes
$p-font-size                = 12px
$p                          = $p-font-size
$small-font-size            = 80%
