// ---------------------------------
//  :: Settings - Global
// ---------------------------------

@charset   "UTF-8"

$base-font-size             = 100% // generally ends up being 16px but is set to a percentage value to respect mobile browsers
$base-line-height           = 1.25

$base-border-radius         = 3px
