// ---------------------------------
//  :: Settings - Colours
// ---------------------------------

// :: Colours
// :: Greys

// ---------------------------------
//  :: Colours
// ---------------------------------

$dark-blue                  = #003da5

$cyan                       = #cee9f5
$cyan20                     = lighten($cyan, 60%)
$cyan40                     = $cyan
$cyan50                     = darken($cyan, 20%)
$cyan60                     = darken($cyan, 40%)
$cyan80                     = darken($cyan, 50%)

$purple                     = #d5dff7
$purple20                   = lighten($purple, 60%)
$purple40                   = $purple
$purple50                   = darken($purple, 20%)
$purple60                   = darken($purple, 40%)
$purple80                   = darken($purple, 50%)

$green                      = #d9f8e1
$green20                    = lighten($green, 60%)
$green40                    = $green
$green50                    = darken($green, 20%)
$green60                    = darken($green, 40%)
$green80                    = darken($green, 50%)

$orange                     = #fee7bd
$orange20                   = lighten($orange, 60%)
$orange40                   = $orange
$orange50                   = darken($orange, 20%)
$orange60                   = darken($orange, 40%)
$orange80                   = darken($orange, 50%)

$magenta                    = #f8ccde
$magenta20                  = lighten($magenta, 60%)
$magenta40                  = $magenta
$magenta50                  = darken($magenta, 20%)
$magenta60                  = darken($magenta, 40%)
$magenta80                  = darken($magenta, 50%)

$yellow                     = #fef4c0
$yellow20                   = lighten($yellow, 60%)
$yellow40                   = $yellow
$yellow50                   = darken($yellow, 20%)
$yellow60                   = darken($yellow, 40%)
$yellow80                   = darken($yellow, 50%)

// ---------------------------------
//  :: Greys
// ---------------------------------

$white                      = #ffffff

$grey                       = saturation($cyan, 10%)
$grey10                     = lighten($grey, 80%)
$grey20                     = lighten($grey, 60%)
$grey30                     = lighten($grey, 40%)
$grey40                     = lighten($grey, 20%)
$grey50                     = $grey
$grey60                     = darken($grey, 20%)
$grey70                     = darken($grey, 40%)
$grey80                     = darken($grey, 60%)
$grey90                     = darken($grey, 80%)

// Primary / Secondary
$primary-colour             = $dark-blue
$secondary-colour           = $orange-50
