// ---------------------------------
//  :: Settings - Global
// ---------------------------------

@charset   "UTF-8"

$base-font-size             = 16px
$base-line-height           = 1.2

$base-border-radius         = 3px
