// ---------------------------------
// :: Themes - Daisy
// ---------------------------------

assign-swatch-colour($swatch-colour)
  background-color: $swatch-colour
  &:before
    content: "'%s'" % $swatch-colour

// ---------------------------------

html, body
  height: 100%

.site-main
  background-color: $grey10
  height: auto !important
  min-height: 100%
  margin-left: 15rem

.site-sidebar
  background-color: $white;
  border-right: 1px solid #eee
  height: 100%
  padding: 2rem 0
  position: fixed
  top: 0
  width: 15rem

.site-nav
  &__version
    margin-top: 1.5rem
    margin-bottom: 0.75rem
    padding-left: 2rem
    padding-right: 2rem

  &__title
    color: $grey80
    font-weight: 600
    letter-spacing: .0625rem
    margin-top: 1.5rem
    margin-bottom: .75rem
    padding: 0 2rem
    text-transform: uppercase

    set-font-size($p)

  &__link
    display: block
    font-size: .875rem
    padding: 1rem 1rem 1rem 2rem
    width: 100%

    &:hover
      background: whitesmoke

.site-masthead
  background: linear-gradient(to right, $purple80, $dark-blue);
  color: $white
  padding: 3rem

  &__title
    font-weight: 600

.site-card
  background-color: $white
  border-radius: 3px
  box-shadow: 0 1px 2px rgba(black, .15)
  margin: 1rem
  padding: 1.5rem 2.25rem


// Colour Swatches

.colour-palette
  display: inline-block
  overflow: hidden // to limit spread of box-shadow on colour-swatch--lead
  padding: 0

.colour-swatch
  color: $grey90
  font-size: $p-font-size
  font-weight: $bold
  height: 3rem
  list-style: none
  padding: 0
  position: relative /* for colour label */
  text-transform: uppercase
  width: 12rem

  &:before
    bottom: .75rem
    right: .75rem
    letter-spacing: .025rem
    position: absolute

  &:first-child
    border-top-left-radius: $base-border-radius
    border-top-right-radius: $base-border-radius

  &:last-child
    border-bottom-left-radius: $base-border-radius
    border-bottom-right-radius: $base-border-radius

  &--lead
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3)
    height: 6rem // for the main swatch colour
    position: relative // for box shadow
    z-index: 1 // for box shadow

  &--inverted
    color: $white // inverts the text on a swatch

  &--grey
    assign-swatch-colour($grey50)

    &10
      assign-swatch-colour($grey10)

    &20
      assign-swatch-colour($grey20)

    &40
      assign-swatch-colour($grey40)

    &50
      assign-swatch-colour($grey50)

    &60
      assign-swatch-colour($grey60)

    &80
      assign-swatch-colour($grey80)

    &90
      assign-swatch-colour($grey90)

  &--dark-blue
    assign-swatch-colour($dark-blue)

  &--teal
    assign-swatch-colour($teal50)

    &20
      assign-swatch-colour($teal20)

    &40
      assign-swatch-colour($teal40)

    &50
      assign-swatch-colour($teal50)

    &60
      assign-swatch-colour($teal60)

    &80
      assign-swatch-colour($teal80)

  &--green
    assign-swatch-colour($green50)

    &20
      assign-swatch-colour($green20)

    &40
      assign-swatch-colour($green40)

    &50
      assign-swatch-colour($green50)

    &60
      assign-swatch-colour($green60)

    &80
      assign-swatch-colour($green80)

  &--orange
    assign-swatch-colour($orange50)

    &20
      assign-swatch-colour($orange20)

    &40
      assign-swatch-colour($orange40)

    &50
      assign-swatch-colour($orange50)

    &60
      assign-swatch-colour($orange60)

    &80
      assign-swatch-colour($orange80)

  &--red
    assign-swatch-colour($red50)

    &20
      assign-swatch-colour($red20)

    &40
      assign-swatch-colour($red40)

    &50
      assign-swatch-colour($red50)

    &60
      assign-swatch-colour($red60)

    &80
      assign-swatch-colour($red80)

  &--purple
    assign-swatch-colour($purple50)

    &20
      assign-swatch-colour($purple20)

    &40
      assign-swatch-colour($purple40)

    &50
      assign-swatch-colour($purple50)

    &60
      assign-swatch-colour($purple60)

    &80
      assign-swatch-colour($purple80)

  &--gold
    assign-swatch-colour($gold50)

    &20
      assign-swatch-colour($gold20)

    &40
      assign-swatch-colour($gold40)

    &50
      assign-swatch-colour($gold50)

    &60
      assign-swatch-colour($gold60)

    &80
      assign-swatch-colour($gold80)

  &__label
    position: absolute;

    &--hue
      font-size: $h4-font-size
      left: .75rem
      top: .75rem

    &--saturation
      bottom: .75rem
      font-weight: $normal
      left: .75rem
