// ---------------------------------
// :: Themes - Daisy - Headers
// ---------------------------------

.daisy
  &-masthead
    background: linear-gradient(to right, $purple80, $dark-blue)
    color: $white
    padding: 3rem

    &--intro
      height: 21rem

    &__title
      font-weight: $semibold

    &__actions
      remove-bullets()
