// ---------------------------------
// :: Themes - Daisy - Colours
// ---------------------------------

$swatch-padding = .9375rem

assign-swatch-colour($swatch-colour)
  background-color: $swatch-colour
  &:before
    content: "'%s'" % $swatch-colour

// ---------------------------------

.colour
  &-palette
    display: inline-block
    overflow: hidden // to limit spread of box-shadow on colour-swatch--lead
    padding: 0

  &-swatch
    color: $grey90
    font-size: $p-font-size
    font-weight: $bold
    height: 3rem
    list-style: none
    padding: 0
    position: relative /* for colour label */
    text-transform: uppercase
    width: 15rem

    &:before
      bottom: $swatch-padding
      right: $swatch-padding
      letter-spacing: .025rem
      position: absolute

    &:first-child
      border-top-left-radius: $base-border-radius
      border-top-right-radius: $base-border-radius

    &:last-child
      border-bottom-left-radius: $base-border-radius
      border-bottom-right-radius: $base-border-radius

    &--lead
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3)
      height: 6rem // for the main swatch colour
      position: relative // for box shadow
      z-index: 1 // for box shadow

    &--inverted
      color: $white // inverts the text on a swatch

    &--grey
      assign-swatch-colour($grey50)

      &10
        assign-swatch-colour($grey10)

      &20
        assign-swatch-colour($grey20)

      &30
        assign-swatch-colour($grey30)

      &40
        assign-swatch-colour($grey40)

      &50
        assign-swatch-colour($grey50)

      &60
        assign-swatch-colour($grey60)

      &70
        assign-swatch-colour($grey70)

      &80
        assign-swatch-colour($grey80)

      &90
        assign-swatch-colour($grey90)

    &--dark-blue
      assign-swatch-colour($dark-blue)

    &--teal
      assign-swatch-colour($cyan50)

      &20
        assign-swatch-colour($cyan20)

      &40
        assign-swatch-colour($cyan40)

      &50
        assign-swatch-colour($cyan50)

      &60
        assign-swatch-colour($cyan60)

      &80
        assign-swatch-colour($cyan80)

    &--green
      assign-swatch-colour($green50)

      &20
        assign-swatch-colour($green20)

      &40
        assign-swatch-colour($green40)

      &50
        assign-swatch-colour($green50)

      &60
        assign-swatch-colour($green60)

      &80
        assign-swatch-colour($green80)

    &--orange
      assign-swatch-colour($orange50)

      &20
        assign-swatch-colour($orange20)

      &40
        assign-swatch-colour($orange40)

      &50
        assign-swatch-colour($orange50)

      &60
        assign-swatch-colour($orange60)

      &80
        assign-swatch-colour($orange80)

    &--red
      assign-swatch-colour($magenta50)

      &20
        assign-swatch-colour($magenta20)

      &40
        assign-swatch-colour($magenta40)

      &50
        assign-swatch-colour($magenta50)

      &60
        assign-swatch-colour($magenta60)

      &80
        assign-swatch-colour($magenta80)

    &--purple
      assign-swatch-colour($purple50)

      &20
        assign-swatch-colour($purple20)

      &40
        assign-swatch-colour($purple40)

      &50
        assign-swatch-colour($purple50)

      &60
        assign-swatch-colour($purple60)

      &80
        assign-swatch-colour($purple80)

    &--gold
      assign-swatch-colour($yellow50)

      &20
        assign-swatch-colour($yellow20)

      &40
        assign-swatch-colour($yellow40)

      &50
        assign-swatch-colour($yellow50)

      &60
        assign-swatch-colour($yellow60)

      &80
        assign-swatch-colour($yellow80)

    &__label
      position: absolute;

      &--hue
        left: $swatch-padding
        top: $swatch-padding

      &--saturation
        bottom: $swatch-padding
        font-weight: $normal
        left: $swatch-padding
