// ---------------------------------
// :: Tools - Grids
// ---------------------------------

// Flex grid
$fg-max-columns             = 12
$fg-column                  = 60px
$fg-gutter                  = 20px

// Breakpoints
$break-small                = 480px
$break-medium               = 800px
$break-large                = 1200px
