// ---------------------------------
// :: Tools - Typography
// ---------------------------------

// Font Size Converter
// Uses remify mixin to
set-font-size(value)
    font-size: value

    if (value is inherit)
        /* do nothing, "inherit" has no unit */
    else if (value is $h1)
        font-size: remify(value)
        font-weight: $light
        letter-spacing: -0.025em
        line-height: 1.25
    else if (value is $h2)
        font-size: remify(value)
        font-weight: $light
    else if (value is $h3)
        font-size: remify(value)
        font-weight: $normal
    else if (value is $h4)
        font-size: remify(value)
        font-weight: $normal
    else if (value is $h5)
        font-size: remify(value)
        font-weight: $normal
    else if (value is $h6)
        font-size: remify(value)
        font-weight: $bold
    else if (value is $p)
        font-size: remify(value)
        line-height: 1.6
    else
        font-size: remify(value)
