// ---------------------------------
// :: Table of Contents
// ---------------------------------

// :: Settings
// :: Tools
// :: Generics
// :: Elements
// :: Objects
// :: Components
// :: Themes
// :: Utilities

// ---------------------------------
// :: Settings
// This holds any global settings for your project
// Should only house settings that need to be accessed from anywhere
// ---------------------------------

@require   "settings/settings.global"
@require   "settings/settings.colours"
@require   "settings/settings.typography"

// ---------------------------------
// :: Tools
// Globally available tooling – namely mixins and functions.
// Any mixin or function that does not need accessing globally should belong in the partial to which it relates
// ---------------------------------

@require   "tools/tools.mixins"

// ---------------------------------
// :: Generics
// First layer that actually produces any CSS
// Usually the same across any projects you work on (normalize.css, global box-sizing rules, CSS resets...)
// ---------------------------------

// ---------------------------------
// :: Elements
// Bare, unclassed HTML elements (or 'type') selectors only
// Very rarely added to or changed after initial setup
// ---------------------------------

// ---------------------------------
// :: Objects
// First layer in which we find class-based selectors
// Objects can range from something as simple as a .wrapper element, to layout systems..
// ---------------------------------

// ---------------------------------
// :: Components
// Still binding onto only classes here
// Shouldn't find any selectors with a lower specificity than one class
// ---------------------------------

@require   "components/_normalize"

@require   "components/_grids"
@require   "components/_hyperlinks"
@require   "components/_typography"
@require   "components/_datagrids"
@require   "components/_toolbars"
@require   "components/_tooltips"
@require   "components/_charts"

@require   "components/_site"

// ---------------------------------
// :: Themes
// Alternative themes to the default components
// ---------------------------------

// ---------------------------------
// :: Utilities
// Inelegant and heavy-handed, and contains utility and helper classes, hacks and overrides
// ---------------------------------

// shame.css goes here
