// ---------------------------------
//  :: Table of Contents
// ---------------------------------

//  :: Typography
//  :: Grid

//  :: Forms
//  :: Buttons

// ---------------------------------
//  :: Typography
// ---------------------------------

// Font families
$open-sans                  = "Open Sans", Myriad, Helvetica, Tahoma, Arial, clean, sans-serif

// Font classes
$sans-serif                 = $helvetica
$serif                      = $georgia

// Font weights
$light                      = 300
$regular                    = 400
$normal                     = $regular
$semibold                   = 600
$bold                       = 700

// Misc Font Weights
$strong-font-weight =       $semibold

// Heading Font Sizes
$h1-font-size =             2.25rem
$h2-font-size =             1.5rem
$h3-font-size =             1.125rem
$h4-font-size =             .875rem
$h5-font-size =             100%
$h6-font-size =             100%

// Misc Font Sizes
$p-font-size =              .75rem
$small-font-size =          80%

// ---------------------------------
//  :: Grid
// ---------------------------------

// Flex grid
$fg-max-columns =           12
$fg-column =                60px
$fg-gutter =                20px

// Breakpoints
$break-small =              480px
$break-medium =             800px
$break-large =              1200px

// ---------------------------------
//  :: Forms
// ---------------------------------

// ---------------------------------
//  :: Buttons
// ---------------------------------

  $border-radius = 3px
  $toolbar-height = 1.5rem /* 24px */
