// ---------------------------------
//  :: Table of Contents
// ---------------------------------

//  :: Colours
//  :: Typography
//  :: Grid

//  :: Forms
//  :: Buttons

// ---------------------------------
//  :: Colours
// ---------------------------------

// Black & White
$white                      = #fff
$black                      = #2d2926

// Greys
$grey                       = #a2aaad
$lighter-grey               = #e6e6e6

// Colours
$green                      = #78be43
$yellow                     = #f1a91e
$blue                       = #003da5
$orange                     = #f58220
$red                        = $d92c27
$gold                       = $yellow

// Common Elements
$link-colour                = $blue

// Alerts
$primary-colour             = $green
$secondary-colour           = $blue
$warning-colour             = $yellow
$info-colour =              $blue
$danger-colour =            $red
$success-colour =           $green


// ---------------------------------
//  :: Typography
// ---------------------------------

// Font families
$open-sans                  = "Open Sans", Myriad, Helvetica, Tahoma, Arial, clean, sans-serif

// Font classes
$sans-serif =               $helvetica
$serif =                    $georgia

// Font weights
$light =                    300
$regular =                  400
$normal =                   $regular
$semibold =                 600
$bold =                     700

// Misc Font Weights
$strong-font-weight =       $semibold

// Heading Font Sizes
$h1-font-size =             264% !default
$h2-font-size =             218% !default
$h3-font-size =             150% !default
$h4-font-size =             120% !default
$h5-font-size =             100% !default
$h6-font-size =             100% !default

// Misc Font Sizes
$p-font-size =              100% !default
$small-font-size =          80% !default

// ---------------------------------
//  :: Grid
// ---------------------------------

// Flex grid
$fg-max-columns =           12
$fg-column =                60px
$fg-gutter =                20px

// Breakpoints
$break-small =              480px
$break-medium =             800px
$break-large =              1200px

// ---------------------------------
//  :: Forms
// ---------------------------------

// ---------------------------------
//  :: Buttons
// ---------------------------------

  $border-radius = 4px
  $toolbar-height = 1.5rem /* 24px */
