<!-- charts.html -->
{% extends "layout.html" %}

{% set pageTitle = "Charts" %}

<!-- {# Add html between {% block content %} and {% endblock %} #}-->
{% block content %}

<style>
.axis--x path, .axis--y path {
  display: none;
}

.axis--x line {
  display: none;
}

.grid line, .tick line {
  stroke: #d5dff7; /* purple400 */
  /*stroke-opacity: 0.5;*/
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}
</style>

<div class="daisy-masthead">
  <h1 class="daisy-masthead__title">{{pageTitle}}</h1>
</div>

<div class="daisy-module">
  <div class="chart-wrapper">
    <div class="chart-title">Chart Title</div>
    <div class="chart-legend">
      <span id="legendBarClustered"></span>
    </div>
    <svg class="chart chart--bar chart--vertical" width="960" height="180"></svg>
  </div>
</div>
{% endblock %}

{% block scripts %}


<script>
// Select SVG element
var svg = d3.select(".chart--bar"),
    margin = {top: 0, right: 0, bottom: 40, left: 40},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom;

var x = d3.scaleBand().rangeRound([0, width]).padding(0.3),
    y = d3.scaleLinear().rangeRound([height, 0]);

var g = svg.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var numberOfTicks = 2;

// gridlines in y axis function
function make_y_gridlines() {
  return d3.axisLeft(y)
    .ticks(numberOfTicks)
}

var tsv_data = [];

// load data into variable
d3.tsv("data.tsv", function(d) {
  d.frequency = +d.frequency;
  return d;
}, function(error, data) {
  if (error) throw error;
  tsv_data = data;

  // Draw for the first time to initialize.
  redraw();
});

function redraw() {
  x.domain(tsv_data.map(function(d) { return d.letter; }));
  y.domain([0, d3.max(tsv_data, function(d) { return d.frequency; })]);

  // X-Axis
  g.append("g")
    .attr("class", "axis axis--x")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x))
    .selectAll("text")
      .classed("tick__label tick__label--x", true)
      .attr("x", -6)
      .attr("y", 9)
      .attr("dy", ".35em")
      .attr("text-anchor", "end")

  // Y-Axis
  g.append("g")
    .attr("class", "axis axis--y")
    .call(d3.axisLeft(y).ticks(numberOfTicks, "%").tickSize(margin.left))
    .selectAll("text")
      .classed("tick__label tick__label--y", true)
      .attr("x", -margin.left)
      .attr("y", -12)
      .attr("text-anchor", "start")

  // Render the Y gridlines
  g.append("g")
    .attr("class", "grid")
    .call(make_y_gridlines()
      .tickSize(-width)
      .tickPadding(6)
      .tickFormat("")
    )

  // Render Bars
  g.selectAll(".bar")
    .data(tsv_data)
    .enter().append("rect")
      .classed("bar animation-target", true)
      .attr("x", function(d) { return x(d.letter); })
      .attr("y", function(d) { return y(d.frequency); })
      .attr("width", x.bandwidth())
      .attr("height", function(d) { return height - y(d.frequency); })
}

// Redraw based on the new size whenever the browser window is resized.
window.addEventListener("resize", redraw);
</script>

{% endblock %}
