<!-- charts.html -->
{% extends "layout.html" %}

{% set pageTitle = "Charts" %}

<!-- {# Add html between {% block content %} and {% endblock %} #}-->
{% block content %}

<style>
.axis--x path, .axis--y path {
  display: none;
}

.axis--x line {
  display: none;
}

.grid line, .tick line {
  stroke: #d5dff7; /* purple400 */
  /*stroke-opacity: 0.5;*/
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}
</style>

<div class="daisy-masthead">
  <h1 class="daisy-masthead__title">{{pageTitle}}</h1>
</div>

<div class="daisy-module">
  <div class="chart-wrapper">
    <div class="chart-title">Chart Title</div>
    <div class="chart-legend">
      <span id="legendBarClustered"></span>
    </div>
    <svg class="chart chart--bar chart--vertical" onresize="chart.resize()"></svg>
  </div>
</div>
{% endblock %}

{% block scripts %}


<script>

// Truncation
// truncaterByLength(5) returns a truncate(string) function that truncates at 5.
// (length: number) => (value: string) => string
function truncaterByLength(length) {
  return function truncate(value) {
    return value.substr(0, length) + (value.length > length ? '...' : '');
  }
}

var chart = Chart('data.tsv');
var testTrunctate

function Chart(path) {
  // Define Array
  var tsvData = [];

  // Truncate Axis Label
  var truncateAxisLabel = truncaterByLength(13);

  // Load data into variable
  d3.tsv(path, function(d) {
    d.value = +d.value;
    return d;
  }, function(error, data) {
    if (error) throw error;

    // Truncates data
    tsvData = data;

    // Draw for the first time to initialize.
    resize();
  });

  function resize() {
    // Select SVG element
    var svg = d3.select(".chart--bar"),
        margin = {top: 0, right: 0, bottom: 80, left: 40},
        width = svg.node().clientWidth - margin.left - margin.right,
        height = svg.node().clientHeight - margin.top - margin.bottom;

    svg.selectAll("*").remove();

    var x = d3.scaleBand().rangeRound([0, width]).padding(0.3),
        y = d3.scaleLinear().rangeRound([height, 0]);

    var g = svg.append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var barLength = width / tsvData.length;

    var numberOfTicks = 2;

    // gridlines in y axis function
    function make_y_gridlines() {
      return d3.axisLeft(y)
        .ticks(numberOfTicks)
    }

    x.domain(tsvData.map(function(d) { return d.name; }));
    y.domain([0, d3.max(tsvData, function(d) { return d.value; })]);

    // X-Axis
    g.append("g")
      .attr("class", "axis axis--x")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x))
      .selectAll("text")
        .classed("tick__label tick__label--x", true)
        .attr("x", -3)
        .attr("y", 9)
        .attr("dy", ".35em")
        .attr("text-anchor", "end")
        .text(function(d) { return truncateAxisLabel(d); })

    // Y-Axis
    g.append("g")
      .attr("class", "axis axis--y")
      .call(d3.axisLeft(y).ticks(numberOfTicks, "%").tickSize(margin.left))
      .selectAll("text")
        .classed("tick__label tick__label--y", true)
        .attr("x", -margin.left)
        .attr("y", -12)
        .attr("text-anchor", "start")

    // Render the Y gridlines
    g.append("g")
      .attr("class", "grid")
      .call(make_y_gridlines()
        .tickSize(-width)
        .tickPadding(6)
        .tickFormat("")
      )

    // Render Bars
    g.selectAll(".bar")
      .data(tsvData)
      .enter().append("rect")
        .classed("bar animation-target", true)
        .attr("x", function(d) { return x(d.name); })
        .attr("y", function(d) { return y(d.value); })
        .attr("width", barLength - (barLength/4))
        .attr("height", function(d) { return height - y(d.value); })

    // Text labels at the top of each bar
  	g.selectAll(".tick__label--x")
  	  .enter().append("text")
    	  .classed("label", true)
        .attr("x", 12)
        .attr("y", 12)
        .text(function(d) { return d.value; })
  }

  return {
    resize: resize
  };

}
</script>

{% endblock %}
