<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Demo / Playground</title>
    <link rel="stylesheet" href="dgrid/css/dgrid.css">
    <!-- <link rel="stylesheet" href="dojo/../dijit/themes/claro/claro.css"> -->
    <link rel="stylesheet" href="styles.min.css">
</head>
<body class="claro">
    <h2>Primary Palette</h2>
    <ul class="colour-strip">
      <li class="colour-test colour-test--dark-blue"></li>
      <br>
      <li class="colour-test colour-test--dark-blue20"></li>
      <li class="colour-test colour-test--dark-blue40"></li>
      <li class="colour-test colour-test--dark-blue50"></li>
      <li class="colour-test colour-test--dark-blue60"></li>
      <li class="colour-test colour-test--dark-blue80"></li>
    </ul>

    <ul class="colour-strip">
      <li class="colour-test colour-test--teal"></li>
      <br>
      <li class="colour-test colour-test--teal20"></li>
      <li class="colour-test colour-test--teal40"></li>
      <li class="colour-test colour-test--teal50"></li>
      <li class="colour-test colour-test--teal60"></li>
      <li class="colour-test colour-test--teal80"></li>
    </ul>

    <ul class="colour-strip">
      <li class="colour-test colour-test--grey"></li>
      <br>
      <li class="colour-test colour-test--grey20"></li>
      <li class="colour-test colour-test--grey40"></li>
      <li class="colour-test colour-test--grey50"></li>
      <li class="colour-test colour-test--grey60"></li>
      <li class="colour-test colour-test--grey80"></li>
    </ul>

    <h2>Secondary Palette</h2>

    <ul class="colour-strip">
      <li class="colour-test colour-test--green"></li>
      <br>
      <li class="colour-test colour-test--green20"></li>
      <li class="colour-test colour-test--green40"></li>
      <li class="colour-test colour-test--green50"></li>
      <li class="colour-test colour-test--green60"></li>
      <li class="colour-test colour-test--green80"></li>
    </ul>

    <ul class="colour-strip">
      <li class="colour-test colour-test--orange"></li>
      <br>
      <li class="colour-test colour-test--orange20"></li>
      <li class="colour-test colour-test--orange40"></li>
      <li class="colour-test colour-test--orange50"></li>
      <li class="colour-test colour-test--orange60"></li>
      <li class="colour-test colour-test--orange80"></li>
    </ul>

    <ul class="colour-strip">
      <li class="colour-test colour-test--red"></li>
      <br>
      <li class="colour-test colour-test--red20"></li>
      <li class="colour-test colour-test--red40"></li>
      <li class="colour-test colour-test--red50"></li>
      <li class="colour-test colour-test--red60"></li>
      <li class="colour-test colour-test--red80"></li>
    </ul>

    <ul class="colour-strip">
      <li class="colour-test colour-test--purple"></li>
      <br>
      <li class="colour-test colour-test--purple20"></li>
      <li class="colour-test colour-test--purple40"></li>
      <li class="colour-test colour-test--purple50"></li>
      <li class="colour-test colour-test--purple60"></li>
      <li class="colour-test colour-test--purple80"></li>
    </ul>

    <ul class="colour-strip">
      <li class="colour-test colour-test--gold"></li>
      <br>
      <li class="colour-test colour-test--gold20"></li>
      <li class="colour-test colour-test--gold40"></li>
      <li class="colour-test colour-test--gold50"></li>
      <li class="colour-test colour-test--gold60"></li>
      <li class="colour-test colour-test--gold80"></li>
    </ul>


</body>
</html>
