<!-- colours.html -->
{% extends "layout.html" %}

{% set pageTitle = "Colours" %}

<!-- {# Add html between {% block content %} and {% endblock %} #}-->
{% block content %}
  <div class="daisy-masthead">
    <h1 class="daisy-masthead__title">{{pageTitle}}</h1>
  </div>

  <div class="daisy-module">
    <h2>Brand Colour</h2>
    <ul class="colour-palette">
      <li class="colour-swatch colour-swatch--dark-blue colour-swatch--lead colour-swatch--inverted">
        <span class="colour-swatch__label colour-swatch__label--hue">Ceridian Blue</span>
        <span class="colour-swatch__label colour-swatch__label--saturation">500</span>
      </li>
    </ul>
  </div>

  <div class="daisy-module">
    <h2>Primary Palette</h2>

    <ul class="colour-palette">
      <li class="colour-swatch colour-swatch--purple colour-swatch--lead">
        <span class="colour-swatch__label colour-swatch__label--hue">Purple</span>
        <span class="colour-swatch__label colour-swatch__label--saturation">500</span>
      </li>
      <li class="colour-swatch colour-swatch--purple20">
        <span class="colour-swatch__label colour-swatch__label--saturation">200</span>
      </li>
      <li class="colour-swatch colour-swatch--purple40">
        <span class="colour-swatch__label colour-swatch__label--saturation">400</span>
      </li>
      <li class="colour-swatch colour-swatch--purple50">
        <span class="colour-swatch__label colour-swatch__label--saturation">500</span>
      </li>
      <li class="colour-swatch colour-swatch--purple60 colour-swatch--inverted">
        <span class="colour-swatch__label colour-swatch__label--saturation">600</span>
      </li>
      <li class="colour-swatch colour-swatch--purple80 colour-swatch--inverted">
        <span class="colour-swatch__label colour-swatch__label--saturation">800</span>
      </li>
    </ul>

    <ul class="colour-palette">
      <li class="colour-swatch colour-swatch--teal colour-swatch--lead">
        <span class="colour-swatch__label colour-swatch__label--hue">Cyan</span>
        <span class="colour-swatch__label colour-swatch__label--saturation">500</span>
      </li>
      <li class="colour-swatch colour-swatch--teal20">
        <span class="colour-swatch__label colour-swatch__label--saturation">200</span>
      </li>
      <li class="colour-swatch colour-swatch--teal40">
        <span class="colour-swatch__label colour-swatch__label--saturation">400</span>
      </li>
      <li class="colour-swatch colour-swatch--teal50">
        <span class="colour-swatch__label colour-swatch__label--saturation">500</span>
      </li>
      <li class="colour-swatch colour-swatch--teal60 colour-swatch--inverted">
        <span class="colour-swatch__label colour-swatch__label--saturation">600</span>
      </li>
      <li class="colour-swatch colour-swatch--teal80 colour-swatch--inverted">
        <span class="colour-swatch__label colour-swatch__label--saturation">800</span>
      </li>
    </ul>

    <ul class="colour-palette">
      <li class="colour-swatch colour-swatch--green colour-swatch--lead">
        <span class="colour-swatch__label colour-swatch__label--hue">Green</span>
        <span class="colour-swatch__label colour-swatch__label--saturation">500</span>
      </li>
      <li class="colour-swatch colour-swatch--green20">
        <span class="colour-swatch__label colour-swatch__label--saturation">200</span>
      </li>
      <li class="colour-swatch colour-swatch--green40">
        <span class="colour-swatch__label colour-swatch__label--saturation">400</span>
      </li>
      <li class="colour-swatch colour-swatch--green50">
        <span class="colour-swatch__label colour-swatch__label--saturation">500</span>
      </li>
      <li class="colour-swatch colour-swatch--green60">
        <span class="colour-swatch__label colour-swatch__label--saturation">600</span>
      </li>
      <li class="colour-swatch colour-swatch--green80 colour-swatch--inverted">
        <span class="colour-swatch__label colour-swatch__label--saturation">800</span>
      </li>
    </ul>

    <ul class="colour-palette">
      <li class="colour-swatch colour-swatch--gold colour-swatch--lead">
        <span class="colour-swatch__label colour-swatch__label--hue">Yellow</span>
        <span class="colour-swatch__label colour-swatch__label--saturation">500</span>
      </li>
      <li class="colour-swatch colour-swatch--gold20">
        <span class="colour-swatch__label colour-swatch__label--saturation">200</span>
      </li>
      <li class="colour-swatch colour-swatch--gold40">
        <span class="colour-swatch__label colour-swatch__label--saturation">400</span>
      </li>
      <li class="colour-swatch colour-swatch--gold50">
        <span class="colour-swatch__label colour-swatch__label--saturation">500</span>
      </li>
      <li class="colour-swatch colour-swatch--gold60">
        <span class="colour-swatch__label colour-swatch__label--saturation">600</span>
      </li>
      <li class="colour-swatch colour-swatch--gold80">
        <span class="colour-swatch__label colour-swatch__label--saturation">800</span>
      </li>
    </ul>

    <ul class="colour-palette">
      <li class="colour-swatch colour-swatch--orange colour-swatch--lead">
        <span class="colour-swatch__label colour-swatch__label--hue">Orange</span>
        <span class="colour-swatch__label colour-swatch__label--saturation">500</span>
      </li>
      <li class="colour-swatch colour-swatch--orange20">
        <span class="colour-swatch__label colour-swatch__label--saturation">200</span>
      </li>
      <li class="colour-swatch colour-swatch--orange40">
        <span class="colour-swatch__label colour-swatch__label--saturation">400</span>
      </li>
      <li class="colour-swatch colour-swatch--orange50">
        <span class="colour-swatch__label colour-swatch__label--saturation">500</span>
      </li>
      <li class="colour-swatch colour-swatch--orange60">
        <span class="colour-swatch__label colour-swatch__label--saturation">600</span>
      </li>
      <li class="colour-swatch colour-swatch--orange80 colour-swatch--inverted">
        <span class="colour-swatch__label colour-swatch__label--saturation">800</span>
      </li>
    </ul>

    <ul class="colour-palette">
      <li class="colour-swatch colour-swatch--red colour-swatch--lead">
        <span class="colour-swatch__label colour-swatch__label--hue">Magenta</span>
        <span class="colour-swatch__label colour-swatch__label--saturation">500</span>
      </li>
      <li class="colour-swatch colour-swatch--red20">
        <span class="colour-swatch__label colour-swatch__label--saturation">200</span>
      </li>
      <li class="colour-swatch colour-swatch--red40">
        <span class="colour-swatch__label colour-swatch__label--saturation">400</span>
      </li>
      <li class="colour-swatch colour-swatch--red50">
        <span class="colour-swatch__label colour-swatch__label--saturation">500</span>
      </li>
      <li class="colour-swatch colour-swatch--red60 colour-swatch--inverted">
        <span class="colour-swatch__label colour-swatch__label--saturation">600</span>
      </li>
      <li class="colour-swatch colour-swatch--red80 colour-swatch--inverted">
        <span class="colour-swatch__label colour-swatch__label--saturation">800</span>
      </li>
    </ul>

  </div>

  <div class="daisy-module">
    <h2>Greys</h2>
    <div class="colour-palette">
      <ul class="colour-palette">
        <li class="colour-swatch colour-swatch--grey colour-swatch--lead">
          <span class="colour-swatch__label colour-swatch__label--hue">Grey</span>
          <span class="colour-swatch__label colour-swatch__label--saturation">500</span>
        </li>
        <li class="colour-swatch colour-swatch--grey10">
          <span class="colour-swatch__label colour-swatch__label--saturation">100</span>
        </li>
        <li class="colour-swatch colour-swatch--grey20">
          <span class="colour-swatch__label colour-swatch__label--saturation">200</span>
        </li>
        <li class="colour-swatch colour-swatch--grey30">
          <span class="colour-swatch__label colour-swatch__label--saturation">300</span>
        </li>
        <li class="colour-swatch colour-swatch--grey40">
          <span class="colour-swatch__label colour-swatch__label--saturation">400</span>
        </li>
        <li class="colour-swatch colour-swatch--grey50">
          <span class="colour-swatch__label colour-swatch__label--saturation">500</span>
        </li>
        <li class="colour-swatch colour-swatch--grey60">
          <span class="colour-swatch__label colour-swatch__label--saturation">600</span>
        </li>
        <li class="colour-swatch colour-swatch--grey70 colour-swatch--inverted">
          <span class="colour-swatch__label colour-swatch__label--saturation">700</span>
        </li>
        <li class="colour-swatch colour-swatch--grey80 colour-swatch--inverted">
          <span class="colour-swatch__label colour-swatch__label--saturation">800</span>
        </li>
        <li class="colour-swatch colour-swatch--grey90 colour-swatch--inverted">
          <span class="colour-swatch__label colour-swatch__label--saturation">900</span>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
