<!-- colours.html -->
{% extends "layout.html" %}

<!-- {# Add html between {% block content %} and {% endblock %} #}-->
{% block content %}
  <div class="daisy-masthead daisy-masthead--intro">
    <h1 class="daisy-masthead__title">Daisy Feuss</h1>
    <h3>Welcome to the playground</h3>
    <ul class="daisy-masthead__actions">
      <li class="daisy-masthead__action">
        <a href="#" class="button button--primary">File a bug</a>
      </li>
      <li class="daisy-masthead__action">
        <a href="#" class="button button--secondary">Github</a>
      </li>
    </ul>
  </div>
{% endblock %}
