<!-- colours.html -->
{% extends "layout.html" %}

<!-- {# Add html between {% block content %} and {% endblock %} #}-->
{% block content %}
  <div class="daisy-masthead daisy-masthead--intro">
    <h1 class="daisy-masthead__title">Daisy Feuss</h1>
    <h3>Welcome to the playground</h3>
    <ul class="daisy-masthead__actions">
      <li class="daisy-masthead__action">
        <a href="#" class="button button--primary-inverted">File a bug</a>
      </li>
      <li class="daisy-masthead__action">
        <a href="http://github.com/livekeen/daisyfeuss" class="button button--secondary-inverted">Github</a>
      </li>
    </ul>
  </div>

  <main class="daisy-cards">
    <section class="daisy-card">
      <h2>Getting Started</h2>
      <p>Here you can find resources to create user interfaces consistent with the design guidelines, design language, and best practices. Rather than focusing on pixels, developers can focus on application logic, while designers can focus on user experience, interactions, and flows.</p>
    </section>

    <section class="daisy-card">
      <h2>Designers</h2>
      <p>Explore the Guidelines to learn the product design patterns and principles.</p>
      <p>Review the Components section, to familiarize yourself with the existing components which you can incorporate into your designs.</p>

      <h2>Developers</h2>
      <p>Get an overview of our Markup and Style guidelines including the class naming conventions used in our CSS.</p>
    </section>
  </main>
{% endblock %}
