<!-- typography.html -->
{% extends "layout.html" %}

{% set pageTitle = "Typography" %}

<!-- {# Add html between {% block content %} and {% endblock %} #}-->
{% block content %}
<div class="site-masthead">
  <h1 class="site-masthead__title">{{pageTitle}}</h1>
</div>

<div class="site-card">
  <h2>Open-Sans and Arial are the standard typefaces on desktop</h2>
  <p>
    Open Sans is a humanist sans serif typeface designed by Steve Matteson, Type Director of Ascender Corp. This version contains the complete 897 character set, which includes the standard ISO Latin 1, Latin CE, Greek and Cyrillic character sets. Open Sans was designed with an upright stress, open forms and a neutral, yet friendly appearance. It was optimized for print, web, and mobile interfaces, and has excellent legibility characteristics in its letterforms.
  </p>
  <p>
    <a href="https://www.google.com/fonts/specimen/Open+Sans">For more information about this font</a>
  </p>
</div>

<div class="site-card">
  <h2>Usage</h2>
  <p>
    We use two versions of the Open Sans font: Regular and Light.  We have chosen Open Sans as our default font because it is crisp and clean. It enhances readability while providing the professional style that we are looking for.
  </p>
  <p>
    Arial is our default font for all interactive elements (Example: Textbox, DropdownList).
  </p>

  <h2>Implementation</h2>
</div>
{% endblock %}
